
$bg-bones: #f8f9fa
$font-sans: 'Inter', system-ui, -apple-system, sans-serif

body, html
  margin: 0
  padding: 0
  background-color: $bg-bones
  font-family: $font-sans
  -webkit-font-smoothing: antialiased
